{% extends "TroiswaBackBundle::layout.html.twig" %}

{% block content -%}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            {% if products %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Total</th>
                    <th> </th>
                </tr>
                </thead>
                <tbody>
                {% set total = 0 %}
                {% for product in products %}
                    <tr>
                        <td class="col-sm-8 col-md-6">
                            <div class="media">
                                <a class="thumbnail pull-left" href="{{ path('troiswa_back_product_show', {idprod:product.id}) }}"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;"> </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="{{ path('troiswa_back_product_show', {idprod:product.id}) }}">{{ product.title }}</a></h4>
                                    <h5 class="media-heading"> by <a href="#">Brand name</a></h5>
                                    <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                                </div>
                            </div></td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                            <input type="email" class="form-control" id="exampleInputEmail1" value="{{ cart[product.id].quantity }}">
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{ product.price }}</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{ product.price * cart[product.id].quantity }}</strong></td>
                        <td class="col-sm-1 col-md-1">
                            <a href="{{ path('troiswa_back_cart_delete', {id : product.id}) }}" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span> Remove
                            </a></td>
                    </tr>
                    {% set total = total + (product.price * cart[product.id].quantity) %}
                {% endfor %}

                <tr>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td><h3>Total</h3></td>
                    <td class="text-right"><h3><strong>{{ total|price(2) }}</strong></h3></td>
                </tr>
                <tr>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                        </button></td>
                    <td>
                        <button type="button" class="btn btn-success">
                            Checkout <span class="glyphicon glyphicon-play"></span>
                        </button></td>
                </tr>
                </tbody>
            </table>
            {% else %}
                <div class="alert alert-info">Il n'y a pas de produit dans le panier</div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}