{% extends "TroiswaBackBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/qunit-1.14.0.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/mab-jquery-taginput.css') }}">
{% endblock %}

{% block content -%}

    <h1>Product creation</h1>

    {{ form_start(form) }}

    {{ form_end(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('troiswa_back_product') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/typeahead.bundle.min.js') }}"></script>
    <script src="{{ asset('assets/js/mab-jquery-taginput.js') }}"></script>
    <script src="{{ asset('assets/js/qunit-1.14.0.js') }}"></script>

    <script type="text/javascript">
        var tagsValue = $("#troiswa_backbundle_product_tag").attr('data-value').split('|');
        var allTagsValue= [];
        for (var i = 0; i < tagsValue.length; i++)
        {
            allTagsValue.push({tag:tagsValue[i]});
        }
        var tags = new Bloodhound({
            datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.tag); },
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            local: allTagsValue
        });

        tags.initialize();

        $('.tag-input').tagInput({

            // tags separator
            tagDataSeparator: '|',

            // allow duplicate tags
            allowDuplicates: false,

            // enable typehead.js
            typeahead: true,

            // tyhehead.js options
            typeaheadOptions: {
                highlight: true
            },

            // typehead dataset options
            typeaheadDatasetOptions: {
                displayKey: 'tag',
                source: tags.ttAdapter()
            }

        });
    </script>
{% endblock %}

