{% extends "TroiswaBackBundle::layout.html.twig" %}

{% block content -%}
    <h1>Product</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ entity.price }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ entity.quantity }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ entity.active }}</td>
            </tr>
        </tbody>
    </table>
    <p>Affichage format normal</p>
    {% if entity.image is not null %}
        <img src="{{ asset(entity.image.webPath) }}">
    {% endif %}
    <p>Affichage format miniature</p>
    {% if entity.image is not null %}
        <img src="{{ asset(entity.image.webPath('thumb-small')) }}">
    {% endif %}

        <ul class="record_actions">
    <li>
        <a href="{{ path('troiswa_back_product') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('troiswa_back_product_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>

    <hr>

    <form method="POST" action="{{ path('troiswa_back_cart_add', {id:entity.id}) }}">
        <input type="number" value="1" name="qty">
        <button class="btn btn-primary">Ajouter au panier</button>
    </form>

    <hr>

    <h4>Ajouter un commentaire</h4><br>
    {{ form_start(comment_form, {attr : {id: 'form-comment'} }) }}
    {{ form_widget(comment_form.parent, {id: "parent_id"}) }}
    {{ form_end(comment_form) }}

    <hr>

    <h5>Listes des commentaires</h5>
    {% for comment in comments %}
        {% include 'TroiswaBackBundle:Product:comments.html.twig' with {'comment' : comment, 'idproduct' : entity.id} only %}
    {% else %}
        <div class="alert alert-info">Il n'y a pas de commentaire</div>
    {% endfor %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function()
        {
           $('.reply').on('click', function(event)
           {
               event.preventDefault();
               var $form = $('#form-comment');
               var $this = $(this);
               var parent_id = $this.attr('data-idproduct');
               var comment = $('#comment-'+parent_id);

               comment.after($form);
               $('#parent_id').val(parent_id);

           });
        });
    </script>
{% endblock %}