{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('assets/css/sb-admin.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ asset('assets/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

            {% include "TroiswaBackBundle:Globals:header-nav.html.twig" %}
            {% include "TroiswaBackBundle:Globals:sidebar-nav.html.twig" %}
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <i class="fa fa-info-circle"></i>  {{ flashMessage }}
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {% block titlepage %}Dashboard <small>Statistics Overview</small>{% endblock %}
                        </h1>
                        <ol class="breadcrumb">
                            {% block breadcrumb %}
                                <li>
                                    <a href="{{ path('troiswa_back_admin') }}"><i class="fa fa-dashboard"></i> Dashboard</a>
                                </li>
                            {% endblock %}
                        </ol>
                    </div>
                </div>
                <!-- /.row -->


                {% block content %}
                {% endblock %}

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
{% endblock %}

{% block javascripts %}
    <!-- jQuery -->
    <script src="{{ asset('assets/js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
{% endblock %}